
/* freeCodeCamp theme colors: */

$green: #42DB9D;
$darkGreen: #00BF72;
$lightBlue: #2DB9FF;
$lightRed: #E60036;
$lightPink: #FF5864;
$yellow: #FFEE18;
$black: #2A2A2A;
$grey: #E0E0E0;
$darkGrey: #2A2A2A;
$lightGrey: #595555;
$gold: #FFE37A;

/* Admittedly, the styles are kind of all over the place.
 Refactoring and reorganizing this thing would be great. */

body {
	padding-bottom: 65px;
	margin: 0;
	background: rgb(250,250,250);
  background-size: cover;
	color: rgb(20,20,20);
	text-align: center;
	font-size: 30px;
	.errorsBox {
		color: $lightRed;
	}
	a {
		color: $green;
		&:hover {
			color: $darkGreen;
		}
	}
	code[class*="language-"] {
		.token.string {
			color: #04A470;
		}
	}
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	text-align: left;
	background: $lightBlue;
	display: flex;
	align-items: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	img {
		width: 215px;
		margin-left: 10px;
		margin-top: -1px;
	}
	span {
		margin-left: 20px;
		color: white;
	}
	.contributeLink {
		position: absolute;
		height: 60px;
		right: 0;
		padding: 8px 15px 0 15px;
		color: white;
		text-decoration: none;
		i {
			margin-left: 5px;
		}
		&:hover {
			text-decoration: none;
			background: white;
			color: $green;
			border-bottom: 1px solid $green;
		}
	}
}

.studyComponent {
	width: 550px;
	margin: 100px auto;
	h1 {
		margin: 25px auto;
		font-family: 'Nunito', serif;
	}
	p {
		font-family: 'Nunito', serif;
	}
	.quizContainer {
		min-height: 42px;
		display: flex;
		width: 500px;
		margin: 15px auto;
		font-size: 30px;
		border: 1px solid black;
		font-family: 'Lato';
		color: $black;
		.review {
			padding: 5px 15px 5px 15px;
			color: $black;
			&:hover {
				text-decoration: none;
				background: $green;
				color: white;
			}
		}
		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 5px;
			padding-left: 15px;
			width: 100%;
			text-align: left;
			color: $black;
			span {
				margin-right: 5px;
				font-size: 18px;
			}
			&:hover {
				text-decoration: none;
				background: $green;
				color: white;
			}
		}
		.titleHover {
			background: $green;
			color: white;
			cursor: pointer;
		}
	}
}

.studyWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	color: $black;
	overflow: scroll;
	.about {
		margin-top: 85px;
		padding: 5px 25px;
		p {
			max-width: 625px;
			margin: 20px auto;
			font-size: 22px;
		}
		.aboutContribute {
			a {
				color: inherit;
				text-decoration: none;
				&:hover {
					text-decoration: none;
					color:inherit;
				}
			}
		}
	}
	.studyContainer {
		font-family: 'Nunito', serif;
		padding-bottom: 50px;
		#score-tower {
			position: fixed;
			top: 60px;
			height: 5px;
			width: 100%;
			display: flex;
			flex-direction: row;
			div {
				height: 10px;
			}
			.blank {
				background: $darkGrey;
			}
			.success {
				background: $green;
			}
			.failure {
				background: $lightRed;
			}
		}
		.quizHeader {
			position: fixed;
			display: flex;
			justify-content: space-between;
			align-items: center;
			top: 0;
			width: 100%;
			height: 60px;
			// border-bottom: 1px solid $black;
			background: $lightBlue;
			color: white;
			font-family: 'Lato', sans-serif;
			font-weight: bold;
			.quizTitle {
				font-size: 28px;
				width: 40%;
				text-align: left;
				padding-top: 5px;
				padding-left: 10px;
				padding-bottom: 5px;
				span {
					font-size: 30px;
				}
				img {
					width: 275px;
					margin-right: 15px;
					margin-top: -1px;
				}
			}
			.quizMeta {
				width: 20%;
				font-size: 22px;
				text-align: center;
			}
			#return {
				width: 40%;
				padding-right: 40px;
				text-align: right;
				a {
					color: white;
					&:hover {
						color: $lightRed;
						cursor: pointer;
					}
				}
			}
		}

		.questionTitle {
			font-size: 30px;
			width: 950px;
			margin: 100px auto 25px auto;
			pre {
				width: 600px;
				font-family: 'Ubuntu Mono', monospace;
				margin: 15px auto;
				text-align: left;
				line-height: 18px;
				font-size: 16px;
			}
			code[class*="language-"] {
				line-height: 1.25;
				-moz-tab-size: 2;
				-o-tab-size: 2;
				tab-size: 2;
			}
		}
		.choice {
			width: 650px;
			font-size: 24px;
			margin: 12px auto;
			padding-bottom: 5px;
			text-align: left;
			border: 1px solid $black;
			color: $black;
			p {
				padding-top: 8px;
				padding-left: 12px;
				padding-right: 12px;
				margin-top: 8px;
				margin-bottom: 8px;
				font-family: 'Nunito', serif;
				font-size: 22px;
			}
			pre {
				font-family: 'Ubuntu Mono', monospace;
				margin-top: 0;
			}
		}
		.choice.solution {
			color: white;
			background: $green;
		}
		.desktop:hover {
			color: white;
			background: $green;
			cursor: pointer;
		}
		.selected {
			color: white;
			background: $green;
		}
		.choice.review:hover {
			cursor: default;
		}
		.choice.solution:hover {
			border: 1px solid $green;
			cursor: default;
		}
		#correctWinner {
			background: $darkGreen;
			color: white;
		}
		#wrongWinner {
			background: $lightGrey;
			color: white;
		}
		#correctLoser {
			background: $green;
			border: 1px solid black;
			color: white;
		}
		#wrongLoser {
			background: $lightRed;
			border: 1px solid black;
			color: black;
		}
		.correctAnswer {
			color: $lightBlue;
		}
		.wrongAnswer {
			color: $lightRed;
		}
		.hint {
			width: 600px;
			margin: 15px auto;
			h3 {
				font-weight: bold;
			}
			p {
				font-size: 20px;
				text-align: left;
			}
		}
		button {
			padding: 2px 4px;
			width: 350px;
			margin: 15px;
			background: white;
			color: $green;
			border: 1px solid $green;
			border-radius: 30px;
		}
		button:hover {
			background: $green;
			color: white;
		}
		#infoBox {
			position: fixed;
			right: 15px;
			bottom: 5px;
			p {
				font-size: 15px;
				color: $black;
			}
		}
	}
	.scoreMessage {
		margin: 125px auto 50px auto;
	}
	.fbShare {
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: none;
				color:inherit;
			}
		}
	}
}

.reviewContainer {
	padding-bottom: 75px;
}

@media only screen and (max-width: 1275px) {
	.studyWrapper {
		.studyContainer {
			.quizHeader {
				.quizTitle {
					img {
						width: 150px;
						padding-top: 3px;
					}
					span {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.studyWrapper {
		.studyContainer {
			.quizHeader {
				height: 75px;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.quizTitle {
					text-align: center;
					padding: 2px;
					margin: 0;
					width: 100%;
					img {
						width: 150px;
						padding-top: 3px;
					}
					span {
						font-size: 18px;
					}
				}
				.quizMeta {
					width: 100%;
					font-size: 12px;
				}
				h3 {
					margin: 8px 0 15px 0;
				}
				#return {
					width: 30%;
					padding-right: 6px;
					padding-top: 5px;
					font-size: 22px;
				}
			}
		}
	}
}

@media only screen and (max-width: 650px) {
	.header {
		height: 60px;
		justify-content: center;
		img {
			width: 150px;
			margin-left: 10px;
		}
		span {
			margin-left: 12px;
			font-size: 15px;
			padding-top: 7px;
		}
	}
	.studyComponent {
		width: 95vw;
		h1 {
			width: 90vw;
			margin: 20px auto;
			font-size: 28px;
		}
		p {
			width: 65vw;
			margin: 5px auto;
			font-size: 22px;
		}
		.quizContainer {
			width: 300px;
			margin: 15px auto;
			font-size: 20px;
			.review {
				padding: 5px 5px 5px 20px;
			}
			.title {
				padding: 5px;
				padding-left: 15px;
				font-size: 16px;
				span {
					font-size: 12px;
				}
				&:hover {
					text-decoration: none;
					background: white;
					color: $black;
				}
			}
		}
	}
	.studyWrapper {
		.about {
			h1 {
				font-size: 24px;
			}
			p {
				font-size: 16px;
			}
		}
		.studyContainer {
			padding-bottom: 50px;
			#score-tower {
				top: 75px;
			}
			.questionTitle {
				font-size: 22px;
				width: 90vw;
				margin-bottom: 25px;
				pre {
					width: 90vw;
					margin: 15px auto;
					line-height: 16px;
					font-size: 12px;
					white-space: pre-line;
					word-wrap: break-word;
					overflow: hidden;
				}
				code[class*="language-"] {
					font-size: 12px;
					line-height: 1;
					-moz-tab-size: 1;
					-o-tab-size: 1;
					tab-size: 1;
				}
			}
			.choice {
				width: 95vw;
				margin: 8px auto;
				padding-bottom: 5px;
				p {
					padding-left: 12px;
					font-size: 16px;
				}
				pre {
					overflow: hidden;
				}
			}
			.reviewTitle {
				width: 90vw;
				margin: 45px auto;
			}
			button {
				width: 80vw;
				font-size: 26px;
				&:hover {
					background: white;
					color: green;
				}
			}
			.hint {
				width: 85vw;
				margin: 15px auto;
				h3 {
					font-weight: bold;
				}
				p {
					font-size: 16px;
				}
			}
			.messageDiv {
				h1 {
					font-size: 24px;
				}
			}
			.scoreMessage {
				width: 90vw;
				margin: 125px auto 25px auto;
				font-size: 20px;
			}
		}
	}
}
